.navbar {
    background-color: #FF75CC;
}

















h2 {
    text-align: center;
    padding-top: 35px;
    font-family: "crassula", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
  }
  
  .event1 {
    font-size: 50px;
    background-color: #FFD9F1;
    padding: 4px;
  }
  
  .event2 {
    font-size: 50px;
    background-color: #FFD9F1;
    padding: 4px;

  }
  
  .event3 {
    font-size: 50px;
    background-color: #FFD9F1;
    padding: 4px;

  }